* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf
*.cs text eol=lf
*.csproj text eol=lf
*.md text eol=lf
*.json text eol=lf
*.example text eol=lf
*.sln text eol=crlf
*.cmd text eol=crlf
*.png binary
